@charset "utf-8";
/*todas as medias*/

/*tyupical device breakpoints
pequenas telas: ate 600px
celular: de 600px ate 768px
tablet: de 768px ate 992px
desktops 992px ate 1200px
tvs grandes telas: acima de 1200px

*/

@media print { /* impressoras*/
    body{
        background-image: url(../imagens/back-print.jpg);/* desnecessario*/
        font-family: 'Courier New', Courier, monospace;
    }

    main{
        width: 90vw;
        border: 2px solid black;
    }

    main>h1{
        text-shadow: none;
        color: black;
    }

    main::after{
        content: 'essa impressao foi feita atraves do site dlskaldan';
        text-decoration: overline;
    }

    img#iphone{display: none;}
    img#itablet{display: none;}
    img#itv{display: none;}
    img#ipc{display: none;}
    img#iprint{display: block;}
    
}

@media screen and (min-width: 768px) and (max-width: 992px) { /* tablet*/
    body{
        background-image: url(../imagens/back-tablet.jpg); 
         }

   
    img#iphone{display: none;}
    img#itablet{display: block;}
    img#itv{display: none;}
    img#ipc{display: none;}
    img#iprint{display: none;}
    
}

@media screen and (min-width: 992px) and (max-width: 1200px) {/* desktop*/
    body{
        background-image: url(../imagens/back-pc.jpg);
    }
    img#iphone{display: none;}
    img#itablet{display: none;}
    img#itv{display: none;}
    img#ipc{display: block;}
    img#iprint{display: none;}
    
}

@media screen and (min-width: 1200px)  { /* grandes telas*/
    body{
        background-image: url(../imagens/back-tv.jpg);
    }

    main{
        width: 1200px;
    }

    img#iphone{display: none;}
    img#itablet{display: none;}
    img#itv{display: block;}
    img#ipc{display: none;}
    img#iprint{display: none;}
    
    
}

